.login{
    max-width: 400px;
    background-color: rgba(73, 32, 223, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 50px;
    border: 1px solid black;
    box-shadow: 30px 30px 30px  rgba(73, 32, 223, 0.712);
}