<div class="container d-flex justify-content-center align-items-center mt-5 pb-5 login">
    <form [formGroup]="formularioLogin" (ngSubmit)="ingresar()" class="mt-5 align-items-end mx-auto">
        <div class="mx-auto d-flex align-items-end justify-content-center pb-2">
            <h2>Login</h2>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label mx-1 text-white">User</label>
            <div class="col-sm-10">
                <input type="users" class="form-control" id="inputEmail3" formControlName="user">
                <span class="text-white" *ngIf="this.formularioLogin.get('user')?.errors?.['required'] && !this.formularioLogin.get('user')?.pristine ">
                    User required</span>
                <div class="alert alert-danger" *ngIf="this.formularioLogin.get('user')?.errors?.['minlength']">
                    minimo 3 caracteres</div>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label mx-1 text-white">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" formControlName="password">
                <span class="text-white" *ngIf="this.formularioLogin.get('password')?.errors?.['required'] && !this.formularioLogin.get('password')?.pristine">
                    Password required</span>
                <div class="alert alert-danger" *ngIf="this.formularioLogin.get('password')?.errors?.['minlength']">
                    minimo 8 caracteres</div>
            </div>
        </div>        
        <!-- <div class="row mb-3">
          <div class="col-sm-10 offset-sm-2">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck1" formControlName="checkAdmin">
                  <label class="form-check-label">
                      Soy Administrador
                    </label>
                </div>
            </div>
        </div>         -->
        <button class="btn btn-primary">Sign in</button>
    </form>
</div>



    
    
    